/* This file is part of 43S.
 *
 * 43S is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * 43S is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with 43S.  If not, see <http://www.gnu.org/licenses/>.
 */

/****************************************************/
/* Replacement of following strings made in WP34S.c */
/****************************************************/
/* Replace $fGold                with #ffc000 */
/* Replace $fHoverGold           with #ffff00 */
/* Replace $gBlue                with #00ccff */
/* Replace $gHoverBlue           with #00ffff */
/* Replace $letterGrey           with #a5a5a5 */
/* Replace $keyBorder            with #022901 */
/* Replace $keyBackground        with #3a2517 */
/* Replace $keyLabelColor        with #ffffff */
/* Replace $bezelBackground      with #000000 */
/* Replace $funcKeyBackground    with #808080 */
/* Replace $keyHover             with #744a2e */
/* Replace $screenColor          with #222222 */
/* Replace $behindScreen         with #303030 */
/* Replace $numericKeyBorder     with #022901 */
/* Replace $numericKeyBackground with #3a2517 */
/* Replace $numericKeyLabelColor with #ffffff */
/* Replace $radius               with 3px     */
/**********************************************/

#mainWindow {
  background:  $bezelBackground;
}

#fSoftkeyArea {
  background: $fGold;
}

#gSoftkeyArea {
  background: $gBlue;
}

#softkeyArea {
  background: $screenColor;
}

#behindScreen {
  background: $behindScreen;
}

#funcKeyArea {
  background: $funcKeyBackground;
}

#calcKey {
  background:    $keyBackground;
  color:         $keyLabelColor;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     22px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   5px;
  padding-bottom:5px;
  border-color:  $keyBorder;
  border-width:  2px;
}
#calcKey:hover {background-color: $keyHover;}

#calcNumericKey {
  background:    $numericKeyBackground;
  color:         $numericKeyLabelColor;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     33px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  4px;
  padding-top:   0px;
  padding-bottom:0px;
  border-color:  $numericKeyBorder;
  border-width:  2px;
}
#calcNumericKey:hover {background-color: $keyHover;}

#calcKeyGoldenBorder {
  background:    $keyBackground;
  color:         $keyLabelColor;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     22px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   5px;
  padding-bottom:5px;
  border-color:  $fGold;
  border-width:  2px;
}
#calcKeyGoldenBorder:hover {background-color: $keyHover;}

#calcKeyF {
  background:    $fGold;
  color:         black;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     27px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   2px;
  padding-bottom:2px;
  border-width:  2px;
}
#calcKeyF:hover {background-color: $fHoverGold;}

#calcKeyG {
  background:    $gBlue;
  color:         black;
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     27px;
  border-radius: $radius;
  padding:       0px;
  padding-left:  2px;
  padding-top:   2px;
  padding-bottom:2px;
  border-width:  2px;
}
#calcKeyG:hover {background-color: $gHoverBlue;}

#fShifted {
  background:  $bezelBackground;
  color:       $fGold;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   18px;
  padding:     0px;
}

#fShiftedUnderline {
  background:  $bezelBackground;
  color:       $fGold;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   18px;
  text-decoration: underline;
  padding:     0px;
}

#gShifted {
  background:  $bezelBackground;
  color:       $gBlue;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   18px;
  padding:     0px;
}

#gShiftedUnderline {
  background:  $bezelBackground;
  color:       $gBlue;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   18px;
  text-decoration: underline;
  padding:     0px;
}

#greek {
  background:  $bezelBackground;
  color:       $gBlue;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   20px;
  padding:     0px;
}

#greekUnderline {
  background:  $bezelBackground;
  color:       $gBlue;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   20px;
  text-decoration: underline;
  padding:     0px;
}

#On {
  background:  $bezelBackground;
  color:       $letterGrey;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   18px;
  padding:     0px;
}

#letter {
  background:  $bezelBackground;
  color:       $letterGrey;
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   19px;
  padding:     0px;
}

#fColor {
  background: $fGold;
  padding:    0px;
}

#gColor {
  background: $gBlue;
  padding:    0px;
}

#debugWP43S {
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   14px;
  padding:     0px;
  color:       white;
}

#registerL {
  font-family: WP43S_StandardFont;
  font-style:  normal;
  font-weight: normal;
  font-size:   16px;
  padding:     0px;
  color:       white;
}

#debugDejaVu {
  font-family: DejaVu sans mono;
  font-style:  normal;
  font-weight: normal;
  font-size:   10px;
  padding:     0px;
  color:       white;
}

#debugButton {
  border-radius: $radius;
  padding:       2px;
  padding-left:  2px;
  padding-top:   0px;
  padding-bottom:0px;
}

#debugCheckbox {
  border-radius: $radius;
  padding:       2px;
  padding-left:  2px;
  padding-top:   0px;
  padding-bottom:0px;
  color:         white;
}

#errorBox {
  font-family:   WP43S_StandardFont;
  font-style:    normal;
  font-weight:   normal;
  font-size:     18px;
}
